.stack-work/
*~

# Obsidian files
**/.obsidian/cache
**/.obsidian/workspace

# Built executable
/build

# HSpec Failures
/.hspec-failures

# Generated test files
/test/test-data/small-valid-project/Main/index.d.ts

# Nix expression result
result

# Built binaries
/build

